@tailwind base;
@tailwind components;
@tailwind utilities;




.menu-horizontal > li:not(.menu-title) > details > ul{
    z-index: 9 ;
}
body{overflow-x: hidden;}
.section2 h1 span{
    font-size: 20rem;
    top: -20vh;
    position: relative;
     background-size: contain;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
html {
  scroll-behavior: smooth;
}

.exo-2 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.syne{
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  
  .suse {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  

.roboto-slab {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}